<div class="section">
    <div class="container">
        <h1 class="title">Sign up</h1>
        <div class="field" *ngIf="errorMessage">
            <div class="notification is-danger" role="alert">
                {{errorMessage}}
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="field">
                <label class="label" for="email">Email</label>
                <input [(ngModel)]="user.email" name="email" type="email" required class="input" id="email"
                    placeholder="enter your email">
            </div>
            <div class="field">
                <label class="label" for="password">Password</label>
                <input [(ngModel)]="user.password" name="password" type="password" required class="input" id="password"
                    placeholder="enter a password">
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-primary">Submit</button>
                </div>
                <div class="control">
                    <button type="button" [routerLink]="['/']" class="button is-light">Cancel</button>
                </div>
            </div>
        </form>
        <p>
            <span>Already have an account?&nbsp;</span>
            <a [routerLink]="['/sign-in']">Log in!</a>
        </p>
    </div>
</div>